DATABASE_USERNAME=<<Insert your Database Username>>
DATABASE_PASSWORD=<<Insert your Database Password>>
DATABASE_NAME=<<Insert your Database Name>>
DATABASE_HOST=<<Insert your Database Host>>
DATABASE_PORT=<<Insert your Database port>>
MAILGUN_API_KEY=<<Insert your mail gun api key>>
SITE_FRONTEND_URL=http://localhost:8080
SITE_API_URL=http://localhost:8080/api
NO_REPLY_EMAIL=<<Insert your noreply email>>
REDIS_URL=redis://127.0.0.1:6379
MAILGUN_DOMAIN=<<Insert your Mailgun Domain>>